{{ define "main" }}
<header>
  <nav>
    <a href="{{ "" | absURL }}" class=logo>{{ .Site.Title }}</a>
    <div class=menu>
      <a href="{{ "" | absURL }}">首頁</a>
      <a href="{{ "about/" | absURL }}">關於</a>
    </div>
  </nav>
</header>
<main>
  <article class=full-post>
    <h1>{{ .Title }}</h1>
    <div class=content>
      {{ .Content }}
    </div>
    <p class=back-link><a href="{{ "" | absURL }}">← 回到首頁</a></p>
  </article>
</main>
<footer>
  <p>&copy; {{ now.Year }} {{ .Site.Title }}</p>
</footer>
{{ end }}
